<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVFB630QCV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KVFB630QCV');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-register.css') }}">
    <script src="../static/index.js"></script>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1 class="title">Login</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
            <p class="link">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
            <a class="back-link" href="{{ url_for('home') }}">Back to Home</a>
        </div>
    </div>
</body>

</html>